# Nginx host
# ----------
define host {
    name                nginx
    register            0

    hostgroups          nginx

    ; Default status URL
    _PORT               80
    _STATUS_URL         nginx_status
    _SERVER_NAME        localhost
}

define host {
    name                nginx-auth
    register            0

    hostgroups          nginx

    ; Default status URL
    _STATUS_URL         nginx_status
    _SERVER_NAME        localhost

    ; Default username / password
    _USERNAME           admin
    _PASSWORD           admin
}

define service {
    name                Check alive
    register            0

    check_command       check_tcp
    _CHECKED_PORT       80

    aggregation         nginx
    servicegroups       nginx
}
define service {
    name                Check status
    register            0

    check_command       check_nginx_status

    aggregation         nginx
    servicegroups       nginx
}
define service {
    name                Check-status-auth
    alias               Check status (authenticated)
    register            0

    check_command       check_nginx_status_auth

    aggregation         nginx
    servicegroups       nginx
}
